@use 'colors' as color;

body {
	background-color: color.$white;
	background-color: #fff;
	color: color.$black;
	font-size: 1.6rem;
	font-family: 'Raleway', sans-serif;
	font-weight: 400;
	overflow-x: hidden;
}

.test {
	background-color: color.$lime;
}

.wrapper {
	margin-inline: auto;
	max-width: 1200px;
	width: 100%;
}

.small-wrapper {
	margin-inline: auto;
	max-width: 960px;
	width: 100%;
}

// HEADER

.header {
	position: relative;
	padding: 0 2rem;
	height: clamp(250px, 30vh, 350px);
	background-image: url('/dist/img/mobile-stairs.jpg');
	background-position: center;
	background-size: cover;
	z-index: 2;

	&__shadow {
		position: absolute;
		top: 0;
		left: 0;
		bottom: 0;
		right: 0;
		background-color: rgba(0, 0, 0, 0.596);
		z-index: 15;
	}

	&__box-text {
		display: flex;
		flex-direction: column;
		justify-content: center;
		height: 100%;
		width: 100%;
		color: color.$white;

		&-title {
			font-size: 1.7rem;
			font-weight: 400;
			z-index: 40;
		}

		&-text {
			font-weight: 700;
			font-size: 2.4rem;
			z-index: 40;
		}
	}

	.wrapper {
		height: 100%;
	}
}

// ABOUT-US

.about-us {
	padding: 6rem 2rem;
	&__heading {
		margin-bottom: 3.5rem;
		font-size: 3.4rem;
		text-align: center;
		font-weight: 300;
	}
	&__box {
		display: flex;
		flex-direction: column;
		justify-content: center;
		&-img {
			width: 100%;
			height: clamp(225px, 26vh, 325px);
			object-fit: cover;
		}
		&-text {
			&-title {
				margin: 2rem 0 1rem;
				font-size: 2.2rem;
			}

			&-text {
				font-size: 1.6rem;
				line-height: 1.6;
			}

			&-link {
				position: relative;
				color: color.$black;
				transition: 0.3s;

				&::after {
					content: '';
					position: absolute;
					bottom: 0;
					left: 0;
					height: 0;
					width: 100%;
					background-color: color.$black;
					z-index: -1;
					transition: 0.3s;
				}

				&:hover::after {
					height: 100%;
				}

				&:hover {
					color: color.$white;
				}
			}
		}
	}
}

// HERO-IMG

.hero-img {
	padding: 0 2rem;
	position: relative;
	display: flex;
	justify-content: center;
	align-items: center;
	height: clamp(215px, 25vh, 300px);
	background-image: url('/dist/img/mobile-girl.jpg');
	background-position: center;
	z-index: -2;

	&__shadow {
		position: absolute;
		top: 0;
		left: 0;
		bottom: 0;
		right: 0;
		background-color: rgba(0, 0, 0, 0.449);
		z-index: -1;
	}

	&__box {
		border: 2px solid color.$white;
		z-index: 32;
		padding: 2rem;
		&-title {
			color: color.$white;
			font-size: 2.5rem;
			font-weight: 600;
			text-align: center;
		}
	}
}

// OFFERS

.offers {
	padding: 6rem 2rem;
	text-align: center;
	&__heading {
		font-size: 3.4rem;
		font-weight: 300;
		text-transform: uppercase;
	}

	&__text {
		margin: 1.4rem 0 2rem;
		font-size: 1.7rem;
	}

	&__card {
		display: flex;
		flex-direction: column;
		justify-content: space-between;
		padding: 3.5rem 4rem;
		width: 100%;
		min-height: 350px;
		border-radius: 8px;
		box-shadow: 0px 5px 13px -6px rgba(66, 68, 90, 1);
		margin-top: 4rem;
		&-title {
			font-size: 2.4rem;
			font-weight: 400;
		}

		&-price {
			font-size: 4rem;
			font-weight: 600;
		}

		&-info {
			margin: 0 auto;
			&-item {
				margin: 0.5rem 0;
				text-align: left;

				&-icon {
					&--check {
						color: color.$lime;
					}
				}

				&--excluded {
					color: color.$gray2;
				}
			}
		}

		&-btn {
			padding: 1rem;
			width: 100%;
			color: color.$black;
			border-radius: 8px;
			box-shadow: 0px 5px 13px -6px rgba(66, 68, 90, 1);
			transition: .3s;

			&--cta {
				background-color: color.$lime;
			}
		}
	}
}