html,
body {
	height: 100%;
}

body {
    min-height: 100vh;
	display: flex;
	justify-content: center;
	align-items: center;
    background-color: red;
    font-size: 10px;
}

p {
    height: 20%;
    background-color: #fff;
}
