@use 'colors' as color;

@media (width >= 992px) {
	// NAV

	.nav {
		&__logo {
			display: flex;
			justify-content: center;
			align-items: center;
			font-size: 3.6rem;
		}

		&__burger-btn {
			display: none;
		}

		&__desktop-links {
			display: flex;
			height: 100%;

			&-link {
				display: flex;
				align-items: center;
				justify-content: center;
				width: 100px;
				font-size: 1.6rem;
				transition: background-color 0.3s;

				&:last-child {
					padding-right: 0rem;
				}

				&:hover {
					background-color: color.$black;
				}

				&:hover a {
					color: color.$white;
				}

				a {
					color: color.$black;
					transition: color 0.3s;
				}
			}
		}
	}

	.nav .wrapper {
		height: 100%;
	}

	// Header

	.header {
		background-image: url('dist/img/desktop-stairs.jpg');
		min-height: 400px;
		&__box-text {
			&-title {
				font-size: 2.3rem;
			}

			&-text {
				font-weight: 700;
				font-size: 4rem;
			}
		}
	}

	// ABOUT-US

	.about-us {
		&__heading {
			font-size: 4rem;
		}

		&__box {
			flex-direction: row;

			&-img {
				min-height: 327px;
				width: calc(50% - 6rem);
				margin-right: 6rem;
			}

			&-text {
				&-title {
					margin: 0 0 1rem;
					font-size: 2.8rem;
					text-align: left;
				}

				&-text {
					font-size: 1.8rem;
					line-height: 1.8;
				}
			}
		}
	}

	// HERO-IMG

	.hero-img {
		min-height: 325px;
		background-image: url('dist/img/desktop-girl.jpg');

		&__box {
			padding: 2.6rem;
			&-title {
				font-size: 4.5rem;
			}
		}
	}

	.offers {
		&__heading {
			font-size: 4rem;
		}

		&__text {
			font-size: 2rem;
		}

		&__cards {
			justify-content: space-between;
			flex-wrap: nowrap;
		}

		&__card {
			width: calc(100% / 3 - 3rem);
			&:last-child {
				margin-inline: 0;
			}
		}
	}

}

@media (width >= 1200px) {
	// ABOUT-US

	.about-us {
		&__box {
			&-img {
				min-height: 325px;
			}
			&-text {
				&-title {
					font-size: 3rem;
				}

				&-text {
					font-size: 1.9rem;
					line-height: 1.8;
				}
			}
		}
	}
}